

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ffb033;
}

input, select {
  border: 1px solid lightgray;
}

select {
  border-radius: 0px;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  width: auto;
  height: auto;
  background-size: cover;
  transition: 1s opacity;
}

.landingTop {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*border: 2px solid orange;*/
}

.landingTop img {
  width: 120px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.topNav {
    display: flex;
    height: 25px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    /*border: 2px solid green;*/
}

.topNavJoin {
  margin-left: 15px;
  position: relative;
}


.topNavJoin:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #e57a13;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.topNavJoin:hover:after{
  width: 100%;
  left: 0;
  background: #e57a13;
}


.landingText {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-family: 'Lobster';
  color: white;
  font-size: 70px;
}

.span {
  font-size: 30px;
  color: #e57a13;
}

.signin {
  height: 40px;
  width: 130px;
  color: white;
  background-color: black;
  font-size: 18px;
  border: none;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.main_Cta {
  height: 40px;
  width: 130px;
  color: white;
  background-color: #e57a13;
  font-size: 18px;
  margin-left: 5px;
  border: none;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

.main_Cta:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.header {
  display: flex;
  /*border: 2px solid red;*/
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  align-items: center;
  height: 45px;
  width: 100%;
  background: white;
  position: fixed;
}

.message_header {
  margin-right: 20px;
}

.headerInner {
  display: flex;
  color: #737a84;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  height: 100%;

}

.headerInner input{
  height: 23px;
  width: 38vw;
  border: 1px solid lightgray;
  outline: none;
  /*border-radius: 50vh;*/
}

.headerInner input:focus {
  border: 2px solid #ffb033;
  /*border-color: #ffb033;*/
}



.search {
  position: absolute;
  height: 27px;
  width: 29px;
  cursor: pointer;
  background-color: #ffb033;
  outline: none;
  border: none;
  color: white;

}


.headerNav {
  /*border: 2px solid gray;*/
  height: 100%;
  /*width: 65px;*/
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}




/*.headerNav i {
  color:orange;
  margin-top: 2px;
  font-weight: bold;
  margin-left: 8px;
}*/
.headerNav:hover .navDrop {
  display: block;
}

.headerNav:hover a {
  display: block;
}

.dropDown {
   position: absolute;
   width: 185px;
   /*line-height: 1.25px;*/
   border: 1px solid lightgray;
   display: none;
   z-index: 100;
   background-color: white;
   color: gray;
   text-align: center;
   padding: 0px;
   background: white;
   border-radius: 10px;
   -webkit-filter: drop-shadow(4px 3px 2px #A3A3A3);
   filter: drop-shadow(4px 3px 2px #A3A3A3);
   cursor: pointer;
}

.dropDown:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 0 9px 10px;
   border-color: white transparent;
   display: block;
   width: 0;
   z-index: 1;
   top: -10px;
   left: 172px;
}

.navDrop {
  top: 42px;
  right: -6px;
}


.drop_menu {
  height: 42px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop_menu:hover {
  background-color: #fff4e5;
  color: #e57a13;
}

.notif-drop{
  display: block;
  font-size: 13px;
  display: none;
  font-weight: normal;
  width: 300px;
  box-sizing: border-box;
  top: 45px;
  right: 18px;
}

.notif-btn {
  margin-left: 20px;
  display: flex;
  flex-direction: column;

}


.notifSingle {
  padding-top: 10px;
  height: 45px;
  width: 93%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-bottom: 10px;
}

.notif-noti {
  width: 200px;
}

.notiBtn1 {
  margin-bottom: 5px;
  width: 60px;
  height: 20px;
  border:1px solid #e57a13;
  color: #e57a13;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1.5px 0.5px #B8ADA2;
}

.headerNav:focus dropDown {
  display: block;
}

.dropMenu {
  padding-top: 15px;
}

.notification {
  margin-right: 10px;
  display: flex;
  cursor: pointer;
}

.notification:hover .notif-drop {
  display: block;
}


.nonotif {
  padding-top: 15px;
  padding-bottom: 15px;
}
.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 3px 1px #B8ADA2;
  display: none;
  margin-top: 5px;
  margin-left: 5px;
}

.headerimg {
  margin-right: 25px;
  width: 30px;
  height: 30px;

}

.headerimg img {
  width: 100%;
  height: 100%;
}

.headerlogo {
  width: 12.8vw;
}

.headerlogo img{
  width: 80px;
  margin-left: -3%;
}

.sidebar {
  width: 12.7%;
  height: calc(100vh - 60px);
  /*border: 2px solid orange;*/
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  display: inline-block;
  float: left;
  color:#b5b5b5;
  background:white;
  position: fixed;
}

.sidebarTop {
  height: 180px;
  /*border: 2px solid gray;*/
}


.sidebarImg {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: gray;
}

.sidebarImg img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.sidebarName {
  color: #7e8794;
  /*font-weight: bold;*/
  width: 80%;
  /*border: 2px solid black;*/
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.sideBarSelection {
  height: 40px;
  width: 100%;
  border-top: 1px solid lightgray;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomLine{
  border-bottom: 1px solid lightgray;
}

.DashboardContainer{
  /*border: 2px solid teal;*/
  display: inline-block;
  float: left;
  width: 86.7%;
  height: 1020px;
  background: #f4f4f5;
}

.ProfileContainer {
  /*border: 2px solid teal;*/
  display: inline-block;
  float: left;
  height: 1450px;
  width: 86.7%;
  background: #f4f4f5;
}
.profileBackground{
  background: white;
}

.InnerContainer {
  width: 85%;
  height: 1450px;
  /*border: 2px solid red;*/
  margin: 0 auto;
  display: flex;
  margin-top: 15px;
}

.InnerLeft {
  width: 20%;
  height: 1450px;
  /*border: 2px solid green;*/

}

.aboutMeDetailContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /*border: 2px solid black;*/
}

.reviewInput {
  height: 30px;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  margin-left: 10%;
  -webkit-transition:height  .35s ease-in-out;
  transition: height .35s ease-in-out;
  margin-bottom: 20px;
  border: solid 1px lightgray;
  outline: none;
}

.reviewInput:focus {
  height: 100px;
  border-color: #e57a13 !important;
}

.Profilereview {
  border: 2px solid red;
  width: 650px;
  height: 480px;
}

.basicInfo {
  font-size: 14px;
  border: 2px solid blue;
  height: 630px;
  width: 400px;
}

.basic_title {
  font-size: 18px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 56px;
}

.aboutMeTitle, .aboutMeDetail, .mt {
  display: flex;
  align-items: center;
}

.mt {
  font-weight: bold;
  margin-bottom: 5px;
}

.DashboardImg {
  height: 180px;
  width: 100%;
}

.DashboardImg img {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.tripPlan {
  height: 300px;
  width: 97%;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  box-shadow: 0 3px 1px #B8ADA2;
}

.AddTrip {
  margin-right: 24px;
  height: 20px;
  width: 100px;
  color: black;
  background-color: white;
  margin-left: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;

}

.TopBox{
  height: 50px;
  width: 100%;
  background-color: #e57a13;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.YourTrip{
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.AddTrip {
  margin-right: 14px;
  font-weight: bold;
  font-size: 12px;
  color: #e57a13;
  width: 130px;
  background-color: white;
  height: 30px;
  border-radius: 50vh;
}

.tripList, .squadTop {
  margin-left: 12px;
  margin-top: 10px;
  color: #B8ADA2;
  font-size: 14px;
}

.tripList1 {
  width: 250px;
  margin-left: 10px;

}

.tripList2 {
  width: 150px;
  margin-left: 30px;
}

.line {
  width: 98%;
  background-color: #b5b5b5;
  height: 0.5px;
  margin: 0 auto;
  margin-top: 10px;
}

.listWrapper {
  width: 98.5%;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 12px;
  color:darkgray;
  /*border: 2px solid red;*/

}

.todoLeft {
  display: flex;
}

.todoImg {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  margin-left: 10px;
}

.todoImg img {
  width: 100%;
  height: 100%;
}


.todo_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.todoText {
  /*border: 2px solid green;*/
  margin-left: 20px;
}

.todoBtn {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}



.lists {
  display: flex;
  font-size: 1.1em;
  width: 60%;
  justify-content: space-between;
}

.todpDescri {
  margin-top: 2%;
  font-size: 14px;
}


.todoTitle {
   margin-top: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

.todoBtn button{
  font-weight: bold;
  font-size: 12px;
  color: #e57a13;
  width: 130px;
  background-color: white;
  height: 30px;
  border-radius: 50vh;
  margin-left: 5px;
  border: 1px solid lightgray;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}


.tripdate{
  color: #cecece;
}

.triploc {
  font-weight: bold;
}
.edittrip {
  height: 30px;
  width: 90px;
  color: white;
  background-color: #ffb033;
  font-size: 15px;
  border: none;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50vh;
  cursor: pointer;
}

.deletetrip {
  height: 30px;
  width: 90px;
  color: white;
  background-color: #e57a13;
  font-size: 15px;
  border: none;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50vh;
  cursor: pointer;
  margin-left: 10px;
}


.squadBoxcontainer {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

.squadBox{
  height: 220px;
  width: 30%;
  border: 2px solid #b5b5b5;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 1.25px #888888;
}

.squadList {
  /*border: 2px solid green;*/
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
  /*justify-content: space-between;*/
  font-size: 15px;
  color: #b5b5b5;
}

.squaddelete {
  border-radius: 50vh;
  background-color: white;
  border:2px solid #2EE59D;
  color: #2EE59D;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;

}

.topBarColor {
  background-color: #ffb033;
}



.ProfilePicBox {
  height: auto;
  width: 100%;
  /*background: lightgreen;*/
  margin-bottom: 20px;
}

.ProfilePicBox img {
  width: 100%;
  height: 100%;
}

.profilePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.details {
      width: 100%;
      margin-bottom: 24px;
      border: 1px solid lightgray;
      background-color: white;
      font-size: 14px;
      line-height: 1.43;
      color: #484848;
}


.detailHeader {
    background-color: #edefed;
    color: #7e8794;
    font-size: 16px;
    border-bottom: 1px solid #dce0e0;
    position: relative;
    padding: 8px;
    border-top: 1px solid #dce0e0;

}

.detailHeader div {
  margin-left: 10px;
}

.detailBody {
  padding: 20px;
  margin: 0;
  color: #7e8794;
  line-height: 1.25em;
}

.basicInfoList, .moreInfoList {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.moreInfoList {
  display: block;
  line-height: 1.45;
  /*border: 2px solid red;*/
}

.InnerRight {
  width: 79%;
  height: 1450px;
  /*border: 2px solid brown;*/
}

.profileHeader {
  width: calc(100% - 40px);
  height: 195px;
  /*border: 2px solid black;*/
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.43;
}

.HeaderName{
  font-size: 40px;
  color: #7e8794;
  margin-bottom: 10px;
}

.HeaderDescri {
  font-weight: normal;
  color: #7e8794;
  margin-top: 30px;
}

.HeaderLoc {
  font-weight: bold;
  color: #7e8794;
  margin-top: 5px;
  display: flex;

}

.headerItem {
  margin-right: 10px;
}

.singleReview {
  display: flex;
}

.reviewInner {
  width: 90%;
  margin-top: 20px;
  margin-left: 50px;
  /*border: 2px solid green;*/
  /*height: 1000px*/
}

.rs_avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: black;
}

.rs_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.rs_name {
  margin-left: 3px;
  margin-top: 10px;
  font-size: 13px;
  color: #b5b5b5;
  /*border: 2px solid red;*/
  width: 60px;
  height: 15px;
  text-align: center;
}

.rs_content_wrapper {
  vertical-align: baseline;
  height: 100%;
  margin-left: 15px;
}

.rs_content_wrapper i {
  margin-left: 15px;
  color: #b5b5b5;
}

.rs_content_wrapper span {
  display: flex;
  align-items: baseline;
}



.rs_content {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #7e8794;
  font-size: 14px;
  line-height: 1.43;
}

.re_loc {
  margin-top: 30px;
  font-size: 13px;
  line-height: 1.43;
  color: #b5b5b5;
  margin-left: 15px;
}

.hrline {
  background-color: #c7c5be;
  color: #c7c5be;
  width: 80%;
  margin-left: 85px;
  margin-top: 25px;
  height: 0.5px;
}


.editForm {
  padding-bottom: 25px;
}

.editProfile {
  margin: 0 auto;
  /*height: 590px;*/
  width: 800px;
  border: 1px solid lightgray;
  border-top: 3px solid #e57a13;
  /*border-bottom: 3px solid #e57a13;*/
  position: absolute;
  top: 20%;
  left:27%;
  border-radius: 10px;
  background: white;
  z-index: 4;
  color: #7e8794;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.updatePic {
  width: 100px;
  height: 100px;
  margin-left: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.updatePic img {
  width: 100%;
  height: 100%;
}

.camera {
  position: absolute;
  top: 200px;
  left:200px;
  top: 135px;
  left: 435px;


}



.editprofileTitle {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray
}

.editprofileTitle span {
  margin-left: 20px;
}



.editProfileBtn {
  height: 30px;
  width: 110px;
  color: white;
  background-color: #e57a13;
  font-size: 13px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}


.inviteBtn {
  width: 140px;
  background-color: #ffb033;
}


.viewTrip {
  display: flex;
}

.reviewContainer {
  width: 100%;
  /*height: calc(1450px - 195px);*/
  /*border: 2px solid blue;*/
}

.reviews {
  font-size: 30px;
  line-height: 1.1;
  padding-left: 20px;
  color: #7e8794;
  margin-top: 5px;
}

.addReview {
  /*border: 2px solid red;*/
  margin-top: 3px;
  margin-left: 20px;
  display: flex;
  font-size: 13px;
  color: #b5b5b5;
}

.addReview:hover {
  color: #e57a13;
  cursor: pointer;

}

.addReview i {
color: #e57a13;
margin-right: 3px;
}



.edirFormSection {
  margin: 0 auto;
  height: 35px;
  width: 95%;
  /*border: 2px solid green;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createSquadTop {
  display: flex;
  width: 96%;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: center;
  border-bottom: 1px solid lightgray;

}

@keyframes zoominoutsinglefeatured {
    50% {
        transform: scale(1.15,1.15);
    }
    100% {
        transform: scale(1,1);
    }
}


.createSquadContainer {
  align-items: center;
  font-size: 15px;
  width: 500px;
  /*height: 450px;*/
  position: absolute;
  top:30%;
  left:35%;
  border-radius: 10px;
  border: 1px solid lightgray;
  border-top: 3px solid #e57a13;
  background: white;
  z-index: 4;
  color: #7e8794;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  animation: zoominoutsinglefeatured 0.5s forwards;
}

.selectSquadContainer {
  width: 300px;
  margin-left: 150px;
  position: fixed;
}

.createBtn {
  width: 80%;
  justify-content: space-between;
  /*border: 2px solid red;*/
  margin: 0 auto;
  display: flex;
  padding-bottom: 35px;
}

.createBtn button, .selectCancel {
  height: 30px;
  width: 49%;
  color: white;
  background-color: #e57a13;
  font-size: 14px;
  border: none;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

.formInput {
  width: 250px;
}

.bdInput {
  width: 118px;
  /*border-radius: 5px;*/
}

.adInput {
  width: 78px;
}

.barInput {
  width: 242px;
}



.innerWrapper {
  height: 65px;

}

.innerWrapperContainer {
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
}

.selectSquad {
  margin-top: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  cursor: pointer;

  /*border: 2px solid red;*/
}

.selectSquad span {
  margin-top: 8px;
}

.selectSquadWrapper {
  padding: 20px;
}
.selectSquad:hover {
  background-color: rgba(255, 176, 51, 0.35);
}

.selectCancel {
margin-left: 28%;
margin-top: 20px;
border-radius: 5px;
}

.innerInput {
  margin-top: 5px;
  display: flex;
  width: 100%;
  /*border: 2px solid red;*/
  box-sizing: border-box;
  outline: none;
}

.innerInput:focus{
  border: 1px solid #e57a13
}

.innerInput input {
  width: calc(100%/3);
}

.innerselect {
  display: flex;
  height: 45px;
  /*border: 2px solid red;*/
  justify-content: space-between;
}

.innerselect select {
  height: 25px;
}


.squadListInner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chatRoomContainer {
  display: flex;
  /*border: 2px solid red;*/
  height: calc(100vh - 45px);
  width: 86.7%;
  background: #f4f4f5;


}

.chatLeft {
  /*border: 2px solid teal;*/
  width: 85%;
  height: 100%;

}

.chatRight {
  /*border: 2px solid orange;*/
  width: 15%;
  height: 100%;
  border-left: 1px solid lightgray;
}

.chatTop {
  height: 30px;
  width: 100%;
  background: #f1f1f1;
  color: #b5b5b5;
  font-size: 16px;
  border-bottom: 1px solid lightgray;
  display: flex;
}

.chatTop i {
  margin-top: 8px;
  margin-left: 5px;
  color: #ffb033;
  font-weight: bolder;
  cursor: pointer;
}

.chatTitlte {
  margin-left: 15px;
  padding-top: 6px;
}

.chatArea {
  height: 686px;
  /*border: 2px solid brown;*/
  height: calc(100% - 63.5px);
  background: #f4f4f5;
  /*background: white;*/
}

.chat {
  width: 100%;
  height: 100%;
  border: 3px solid lightgray;
  box-sizing: border-box;
}


.memberArea {
  height: 500px;
  /*border: 2px solid green;*/
  background: white;
}

.bucketList {
  height: calc(100% - 500px);
  border-top: 1px solid lightgray;
  background: white;
}

.chatInput {
  height: 30px;
  width: 100%;
  background-color: yellow;
}

.createTripSave {
  color: white;
  background-color: #e57a13;
  font-size: 14px;
  border: none;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}




/* search result(country) */
.searchTopBar {
  width: 100%;
  height: 250px;
  /*border: 2px solid red;*/
  position: relative;
}

.searchTopBar img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.searchTitle {
  width: 250px;
  height: 20px;
  /*background-color: red;*/
  color:white;
  font-size: 18px;
  position: absolute;
  top:190px;
  left:20px;
}

.searchBodyContainer{
  display: flex;
}

.searchBodyLeft{
  width: 80%;
  /*border: 2px solid black;*/
}

.searchOverwrite {
  height: auto;
}


.searchBodyRight {
  width: 20%;
  height: auto;
  border-left: 1px solid lightgray;
  background: white;
}


.CirclesContainer, .attractionContainer{
  width: 95%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 3px 3px 1.25px #888888;
  border: 2px solid lightgray;
}

.attractionContainer {
  height: auto;
  /*border-top: 5px solid #e57a13;*/
  margin-top: 20px;
  display: block;
  margin-bottom: 20px;
}

.attractionHeader {
margin-top: 15px;
margin-left: 25px;
color: #b5b5b5;
margin-bottom: 20px;
}

.attractionBlock {
  /*border: 2px solid red;*/
  width: 95%;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid lightgray;

}

.attractionPic {
  height: 120px;
  min-width: 120px;
  max-width: 120px;
  /*border: 2px solid red;*/
  margin-top: 5%;
  margin-left: 15px;
  margin-bottom: 25px;
  border-radius: 50%;

}

.attractionBlock img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.attractionText {
  margin-left: 10px;
  /*border: 2px solid red;*/
  width: 82%;
  margin-top: 15px;
  color: #b5b5b5;
}

.attractionTitle {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}


.attractionDesc {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
}
.circle {
  width: 180px;
  height: 145px;
  cursor: pointer;
  /*border: 2px solid orange;*/
}

.circleImg{
  margin-left: 45px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

.circle:hover .circleImg img{
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}

.circle:hover .circleTitle {
  color: #ffb033;
}


.circleImg img {
  width: 55%;
  height: 55%;
  -webkit-transition: 0.6s ease-out;
  -moz-transition:  0.6s ease-out;
  transition:  0.6s ease-out;

}




.circleTitle {
  width: 180px;
  font-size: 14px;
  margin-top: 10px;
  color: gray;
  height: 25px;
  /*border: 2px solid green;*/
  text-align: center;
}


.trailContainer {
  height: 310px;
  margin-top: 20px;
  border-top: 5px solid #e57a13;
  display: block;
}
.trailHeader {
  color: #7e8794;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trail {
  border: 1px solid lightgray;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  height: 240px;
  width: 200px;
  margin-left: 15px;
  margin-right: 15px;
  color: #b5b5b5;
}

.trailmain {
  display: flex;
  width: 100%;
  /*border: 2px solid green;*/
  justify-content: space-between;
}

.trailText {
  display: flex;
}

.trailTitle {
  font-weight: bold;
  color: #7e8794;
  margin-left: 10px;
  margin-top: 10px;
}

.trailText i {
  margin-left: 10px;
  margin-top: 10px;
}

.trailLocation {
  color: #b5b5b5;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 10px;
}

.trail_img {
  height: 170px;
  width: 100%;
  /*border: 2px solid orange;*/
}
/*.countryInfo {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  height:820px;
  border: 2px solid brown;
}*/

.attraction {
  height: 150px;
  width: 95%;
  margin: 0 auto;
  border: 2px solid red;
  display: flex;
  margin-top: 10px;
}

.attractionsContainer {
  border-top: 5px solid #ffb033;
}


.topPlace {
  display: flex;
  flex-direction: column;
}

.attract_pic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid red;
  margin-top: 12px;
  margin-left: 10px;

}

.attract_pic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.attract_rightbox {
  height: 120px;
  width: 82%;
  border: 2px solid brown;
  margin-top: 12px;
  margin-left: 10px;
  font-size: 13px;
}

.attract_name {
  margin-top: 14px;
  font-size: 18px;
  color: #7e8794
  /*font-weight: bold;*/
}

.attract_Desc {
  color: #b5b5b5;
  margin-top:10px;
}


.rightBarTitle {
  color: #b5b5b5;
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}


.singleEvent {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px 0.5px #888888;
}

.eventPic {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  /*border: 1px solid teal;*/
}

.eventPic img {
width: 100%;
height: 100%;

}

.eventDetail {
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
  /*border: 1px solid black;*/
  font-size: 12px;
  color: #b5b5b5;
}

.eventTitle {
  margin-top: 5px;
  font-size: 18px;
  color: #7e8794;
  margin-bottom: 10px;
  margin-left: 5px;
}

.eventFooter {
  display: flex;
}

.eventAds {
  margin-left: 5px;
  padding-bottom: 10px;
}
/*find squad + find squad member search result */
.searchBodyBox {
  /*border: 2px solid black;*/
  height: 88%;
  width: 100%;

}

.searchBar {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid black;
}

.searchBarInner {
  width: 90%;
  height: 100%;
  border: 2px solid orange;
  margin: 0 auto;
}

.searchBodyInner {
  height: 90%;
  width: 90%;
  margin:  0 auto;
}

.searchBarInnerBox {
  margin: 0 auto;
  height: 48%;
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.ageInput {
  display: flex;
}

.searchIndie {
  border: 2px solid red;
  height: 100%;
  width: 33%;
}

.searchCard {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 150px;
  width: 100%;
  /*border: 1px solid red;*/
  margin-top: 15px;
  display: flex;
  background: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.profilePic {
  height: 120px;
  min-width: 120px;
  max-width: 120px;
  margin-top: 13px;
  margin-left: 15px;
  border-radius: 50%;
  /*border: 2px solid red;*/
}

.cardRight {
  width: 89%;
  height: 90%;
  /*border: 1px solid brown;*/
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  display:flex;
  justify-content: space-between;
}


.profileName {
  margin-top: 18px;
  font-size: 19px;
  color: #7e8794;
  width: 200px;
  height: 20px;
  /*border: 1px solid black;*/
}

.MoreDetail {
  display: flex;
  font-size: 14px;
  margin-top: 20px;
  width: 250px;
  height: 15px;
  /*border: 1px solid black;*/
  color: #b5b5b5;
}

.MoreDetail div {
  margin-left: 5px;
}

.MoreDetail i {
    color: #ffb033;
}

.btnContainer {
  margin-top: 10px;
  width: 145px;
  height: 110px;
  /*border: 2px solid red;*/
}

.btnContainer button {
  color: white;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #e57a13;
  font-size: 14px;
  border: none;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.member {
  /*border: 2px solid darkred;*/
  height: 50px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.mbrTitle {
  color: #b5b5b5;
  margin-left: 5px;
  padding-top: 5px;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /*border: 2px solid orange;*/
}
.avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name {
  font-size: 13px;
  margin-left: 5px;
  color: #b5b5b5;
}


/* inner chat message */
.innerChat {
  margin-bottom: 10px;
  height: 70px;
  width: 95%;
  /*border: 2px solid red;*/
  margin: 0 auto;
  display: flex;
  background: white;
  border-radius: 5px;
  margin-top: 10px;
  /*border: 1px solid lightgray;*/
}

.chatProfile {
 height: 40px;
 width: 40px;
 border-radius: 50%;
 /*border: 2px solid gray;*/
 margin-top: 10px;
 margin-left: 10px;
}

.chatProfile img {
  width: 100%;
  height: 100%;
}

.messageRight {
  /*border: 2px solid red;*/
  margin-left: 5px;
}

.messageRightTop {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: 5px;
}

.chatName {
  color: #7e8794;
  font-weight: bold;
  font-size: 15px;
  margin-top: 3px;
}

.time {
  color: #fcc87b;
  font-size: 12px;
  margin-left: 5px;
}

.message {
  font-size: 15px;
  color: #7e8794;
}

.safetyWrapper {
  margin-left: 50px;
  margin-right: 50px;
}

.safetyWrapper h2 {
  color: #e57a13;
  margin-top: 40px
}

.safetyWrapper div {
  margin-bottom: 45px;
  color: #7e8794;
  line-height: 1.8em;
  letter-spacing: 1.5px
}

/* explore */
.exploreContainer {
 width: 87.2%;
 display: flex;
 justify-content: center;
 background-image: url('https://i.imgur.com/8M6cjh7.jpg');
 background-size: cover;
}


.explore {
  position: fixed;
  top: 50%;
  /*left: calc(100% - 58.5%);*/
  text-align: center;
  color: white;
  /*border: 2px solid red;*/
  width: 30%;
  background: rgba(89, 144, 140, 0.4);
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.exploreTitle {
  font-size: 2vmax;
  margin-top: 15px;
  margin-bottom: 15px;
}

.exploreInput {
  width: 50%;
  background-color: rgba(255,255,255,0.05);
  margin-bottom: 20px;
}

.exploreInput:focus {
  outline: none;
  border: 2px solid white;
  color: white;
}

.explore button {
  background-color: #6f3824;
  color: white;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.headerPH {
height: 45px;
width: 100%;
}

.sidebarPH {
  width: 12.7%;
  height: 600px;
  /*background-color: red;*/
  float: left;
}

.bktHeader {
  display: flex;
  margin-bottom: 10px;
}

.addLst {
  font-size: 10px;
  color: #ffb033;
  margin-top: 8px;
  margin-left: 8px;
  cursor: pointer;
}

.bucketContainer {
  margin-bottom: 15px;
}


.bktListSingle {
  display: flex;
  font-size: 13px;
  color: #b5b5b5;
  height: 35px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /*border: 2px solid red;*/
  margin-left: 5px;
  border-bottom: 1px solid lightgray;
}

.bktTitle {
  width: 80%;
  /*margin-left: 5px;*/
}

.bktStar {
  color: #ffb033;
  margin-right: 5px;
}

.bktTitle:hover {
  color: #ffb033;
  cursor: pointer;
}

.hoverDescri {
  top: -40px;
  right: 302px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightgray;
  position: relative;
  color: #b5b5b5;
  font-size: 13px;
  display: flex;
  align-items: center;
  display: none;

}

.hoverWords {
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hoverBkt:hover .hoverDescri {
   transition: 1s;
  display: block;
}

.dashstar {
  display: flex;
  cursor: pointer;
}

.safefyContainer {
   height: auto;
 }

.safetyWrapper {
  font-size: small;
}

.mobileHam, .mobileSearch {
  display: none;
}

@media(max-width: 1100px){
  .sidebarImg {
    height: 75px;
    width: 75px;
  }

  .sidebarTop {
    height: 150px;
  }

  .sidebar {
    font-size: 14px;
  }

  .headerlogo img {
    width: 70%;
  }

  .explore {
    width: 45%;
  }

  .profilePic {
    min-width: 95px;
    max-width: 95px;
    height: 95px;
    margin-top: 25px;
  }

  .attractionPic{
    margin-top: 8%;
  }

  .circleImg {
   margin-left: 30px;
  }

  .createSquadContainer{
    top: 20%;
    left: 20%;
  }

  .InnerLeft {
    width: 30%;
  }

  .todoBtn button {
    margin-right: 10px;
  }

  .todpDescri {
    font-size: 12px;
  }

  /* editProfile  */
  .editProfile {
    width: 550px;
    font-size: 13px;
    left: 20%;
    top: 10%;
  }

  .formInput {
    width: 200px;
  }

  .barInput {
    width: 197px;
  }

  .bdInput {
    width: 95px;
  }

  .adInput {
    width: 62px;
  }
  /* editProfile ends */

}

@media(max-width: 700px){
 .sidebar, .sidebarPH, .searchInput, .headerNav {
   display: none;
 }

 .ProfileContainer, .DashboardContainer {
    width: 100%;
 }

 .headerlogo {
   width: 30vw;
 }

 .tripPlan {
  width: 90%;
  height: auto;
 }

 .todo_list {
   flex-direction: column;
 }

 .todoBtn {
   margin-left: 20%;
   margin-top: 20px;
   margin-bottom: 10px;
 }

 .todpDescri {
   width: 90%;
   line-height: 1.8;
 }

 .todoBtn button {
  border: 1px solid orange;
  width: 90%;
 }

 .squadBoxcontainer {
   flex-direction: column;
 }

 .squadBox {
   width: auto;
   margin-bottom: 20px;
   height: auto;
 }

 .createSquadContainer, .editProfile, .selectSquadContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top:0;
  border-radius: 0px;
  margin-left: 0px;
 }

 .innerselect select{
    height: 20px;
 }

 .mobileHam, .mobileSearch {
   display: block;
   margin-right: 20px;
   margin-left: 5px;
 }

.dropDownSearch {
  position: absolute;
  left: 0;
  top:45px;
  width: 100vw;
  height: 90px;
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: none;
}

.dropInput {
  display: block;
  margin-top: 30px;
}

.searchBodyLeft {
  width: 100%;
}
.circle {
  width: 30vw;
}

.searchBodyRight {
  display: none;
}
  .circleImg {
    margin-left: 10%;
  }

  .circleTitle {
    width: 110px;
  }

  .mobileNav {
    position: absolute;
    left: 0;
    top:45px;
    width: 100vw;
    height: 120px;
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: none;
  }

  .mobileNavBlock {
    height: 40px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.dashBlock {
  color: white;
  background-color: #ffb033;
}

.mobileHam:hover .mobileNav {
  display: block;
}

.mobileSearch:hover .dropDownSearch {
  display: block;
}

.HeaderName, .reviews{
  font-size: 20px;
}

.profileHeader {
  height: 150px;
}

.detailBody {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding: 10px;
}

.detailHeader div {
  margin-left: 0px;
}

.basicInfoList {
  margin-bottom: 5px;
}

.basicInfoList {
  height: 30px;
}

.editProfile {
  font-size: 12px;
}

.editForm {
  padding-bottom: 5px;
}

.formInput {
  width: 80px;
}

.updatePic {
  margin-left: 38%;
}

.dropDown:after {
  left:213px
}
}
