
.LandingHeader {
  height: 80px;
  width: 100%;
  background: gray;
  display: flex;
  justify-content: space-between;
}

.LandingBody {
  text-align: center;
}

.header {
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.headerInner {
  display: flex;
}

.headerInner input{
  height: 23px;
  width: 38vw;
}

.search {
  height: 29px;
  width: 29px;
}

.leftMargin {
  height: 29px;
  border: 2px solid green;
}

.headerlogo {
  width: 180px;
}

.sidebar {
  width: 12.7%;
  height: 100vh;
  border: 2px solid orange;
  display: inline-block;
  float: left;
}

.sidebarTop {
  height: 200px;
  border: 2px solid gray;
}


.sidebarImg {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-top: 30px;
  margin-left: 40px;
  background-color: gray;
}

.sidebarName {
  height: 20px;
  width: 90px;
  border: 2px solid black;
  margin-left: 40px;
  margin-top: 10px;
}

.sideBarSelection {
  height: 40px;
  width: 100%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DashboardContainer, .ProfileContainer {
  border: 2px solid teal;
  display: inline-block;
  float: left;
  height: 100vh;
  width: 86.7%;
}

.DashboardImg {
  height: 180px;
  width: 100%;
  background: lightgreen;
}

.createSquad {
  height: 150px;
  width: 100%;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.squadList {
  height: 350px;
  width: 100%;
  background: lightpink;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.squadsListBox {
  height: 80%;
  width: 25%;
  background: orange;
}

.upcomingTrips {
  height: 200px;
  width: 100%;
  background: lightyellow;
}

.ProfileTopBar {
  height: 130px;
  width: 100%;
  background: pink;
  position: absolute;
}

.ProfilePicBox {
  height: 120px;
  width: 120px;
  background: lightgreen;
  position: relative;
  top: 50px;
  left: 37%;
}

.profileTopUnder {
  background: yellow;
  width: 100%;
  height: 190px;
  margin-bottom: 30px;
}

.avaliableFor {
  height: 80px;
  width: 90%;
  background: violet;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profileAlbum {
  height: 200px;
  width: 90%;
  background: lightblue;
  margin: 0 auto;
  margin-top: 30px;
}

.albumText {
  display: flex;
  justify-content: space-between;
}

.albumPic {
  display: flex;
  justify-content: space-between;
}
.albumInner {
  height: 150px;
  width: 150px;
  margin-left: 20px;
  background: orange;
}

.profileUpcoming {
  height: 150px;
  width: 90%;
  margin: 0 auto;
  background: red;
  margin-top: 30px;
}


.AboutMe {
  height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  background: teal;
}

.profileTags {
  display: flex;
}

.tag {
  margin-left: 20px;
}

.edirFormSection {
  height: 30px;
  width: 90%;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
}
